html {
	background-color: #d1ecff;
}

body {
	background-color: #d1ecff;
  color: #000;
}

.line-separator{
  height:1px;
  background:#717171;
  border-bottom:1px solid #313030;
}
.amountOfStars {
  float:left;
  width: 25px;
  margin-right: 10px;
}
.Week {
	float: left;
	height: 35px;
	width: 1000px;
  border-top: 1px dotted #003ea0;
  margin: 10px 0px 10px 0px;
  padding-top: 10px;
}

.weekDates {
	width: 100px;
	height: 50px;
	float:left;
  margin-bottom: 50px
}

#UserView {
	float: left;
  margin-left: 50px;
}

#UserDescription {
	float:left;
  width: 1000px;
}

#userpic {
	width: 75;
}
#username {
	width: 100;
}
.star {
	float:left;
  padding-bottom: 4px;
}

.stars {
	float:left;
}

.navbar {
  border-radius: 0;
}

.btn-success {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-primary {
  background-color: #1b5188;
  margin-top: 20px; 
}

.btn-primary:hover {
  background-color: #022f5d;
}

.unit-display {
	font-size: 80px;
}

.table {
  width: 65%;
  margin: 0px auto;
  float: none;
}

.table>tbody>tr>td {
	vertical-align: inherit;
	border-top: none;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #1b5188;
}

th {
	font-size: 24px;
}

.btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group {
  float: none;
}

.texttd {
	font-size: 18px;
	padding: 6px;
	text-align: left;
}

.navbar-default {
	background-color: #1b5188;
  border-color: #364584;
}

.navbar-default .navbar-nav>li>a {
  font-size: 18px;
  color: #ddd;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #d1ecff;
}

.navbar-default .navbar-nav>li>a:focus {
	color: #fff;
}

.navbar-default .navbar-brand {
  color: #ddd;
  font-size: 22px;
}

.navbar-default .navbar-brand:hover {
  color: #d1ecff;
}

.navbar-default .navbar-brand:focus {
  color: #fff;
}

.admin-form {
  margin-top: 20px;
}

.admin-button {
  margin-top: 0px;
}

.form-control {
  margin-bottom: 10px;
}

.exercise-dropdown {
  height: 34px;
  background-color: aliceblue;
}

.exercise-dropdown:hover {
  height: 34px;
  background-color: #fff;
  cursor: pointer;
}

.exercise-info {
  font-size: 16px;
}

table {
  border-color: #fff
}
