.Week {
	float: left;
	height: 50px;
	width: 2000px;
}

.weekDates {
	width: 100	px;
	height: 50px;
	float:left;
}

#UserView {
	float: left;
}

#UserDescription {
	float:left;
}

#userpic {
	width: 75;
}
#username {
	width: 100;
}
.star {
	float:left;
}

.stars {
	float:left;
}

.btn-info {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.unit-display {
	font-size: 80px;
}

.table {
  width: 65%;
  margin: 0px auto;
  float: none;
}

.table>tbody>tr>td {
	vertical-align: inherit;
	border-top: none;
}

.texttd {
	text-align: left;
}



