html {
	background-color: #a7fff4;
}

body {
	background-color: #a7fff4;
  color: #000;
}

.Week {
	float: left;
	height: 50px;
	width: 2000px;
}

.weekDates {
	width: 100px;
	height: 50px;
	float:left;
}

#UserView {
	float: left;
}

#UserDescription {
	float:left;
}

#userpic {
	width: 75;
}
#username {
	width: 100;
}
.star {
	float:left;
}

.stars {
	float:left;
}

.btn-warning {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-danger {
	margin-top: 20px;	
}

.unit-display {
	font-size: 80px;
}

.table {
  width: 65%;
  margin: 0px auto;
  float: none;
}

.table>tbody>tr>td {
	vertical-align: inherit;
	border-top: none;
}

th {
	font-size: 24px;
}

.texttd {
	font-size: 18px;
	padding: 6px;
	text-align: left;
}

.navbar-default {
	background-color: #1b5188;
  border-color: #364584;
}

.navbar-default .navbar-nav>li>a {
  font-size: 18px;
  color: #ddd;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #a7fff4;
}

.navbar-default .navbar-nav>li>a:focus {
	color: #fff;
}

.navbar-default .navbar-brand {
    color: #ddd;
    font-size: 22px;
}

.navbar-default .navbar-brand:hover {
    color: #a7fff4;
}

.navbar-default .navbar-brand:focus {
    color: #fff;
}


